.marqueeContainer {
  display: flex;
  width: max-content;
  animation: scroll 60s linear infinite;
  will-change: transform;
}

.marqueeContainer:hover {
  animation-play-state: paused;
}

.marqueeContent {
  display: flex;
  width: max-content;
  gap: 1.5rem;
  padding-right: 1.5rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50%));
  }
}
